#Tags to be applied to all resources
tagset    = { environment = "Lab"
              customer    = "Partners"
              sdm-owner   = "nico.corrarello@strongdm.com"
}

#An arbitrary name to all resources
name      = "PartnerTraining"

#AWS region to deploy resources
#region    = "us-west-2"  # Change to your preferred region

#Add a linux resource with CA Authentication
create_linux_target = true

#Create a Windows Domain Controller for Certificate Authentication
#create_domain_controller = true

#Create a Windows target with Certificate Authentication
#create_windows_target = true

#Create a PostgreSQL Database with its secret stored in AWS Secrets Manager
#create_rds_postgresql = true

#Create an EKS Cluster Target
#create_eks = true

#Create an DocumentDB Replicaset Cluster Target
#create_documentdb = true

#Onboard domain users to be managed by StrongDM
#create_managedsecrets = true


#Allow to access secrets with this key/value
secretkey = "sdm-owner"
secretvalue = "nico.corrarello@strongdm.com"

domain_users = [ 
    {
      "SamAccountName" = "jdoe"
      "GivenName"      = "Jane"
      "Surname"        = "Doe"
      "tags"           = {mfa = "true"}
    },
    {
      "SamAccountName" = "nchandler"
      "GivenName"      = "Noah"
      "Surname"        = "Chandler"
      "tags"           = {justify = "true"}
    },
    {
      "SamAccountName" = "eyang"
      "GivenName"      = "Eva"
      "Surname"        = "Yang"
      "tags"           = {owner = "eva.yang@strongdm.com"}
    }
]